<div class="container">
    <div class="card">
        <div class= "card-Header" >
         <h3>Agregar Planetas</h3>
        </div>
        <div class="card-body">
            <form >
              <div class="form-group">
                <label for="name">name</label>
                <input type="name" [(ngModel)]="planeta.name" placeholder="Name" name="name" class="form-control" id="name">  
              </div>
              <div class="form-group">
                    <label for="size">size</label>
                    <input type="size" [(ngModel)]="planeta.size" placeholder="Size" name="size" class="form-control" id="size">  
              </div>
              <div class="form-group">
                    <label for="estrella">estrella</label>
                    <input type=estrella  [(ngModel)]="planeta.estrella" placeholder="Estrella" name="estrella" class="form-control" id="estrella">  
              </div>
              <button class="btn btn-success" (click)="Guardar()">Create</button>             
            </form>
        </div>
    </div>

</div>


